<div class="sidebar-heading">
  FunixAPI
</div>

<li class="nav-item">
  <a class="nav-link" href="/dashboard/funixprod/users">
    <i class="fas fa-fw fa-user"></i>
    <span>Utilisateurs</span></a>
</li>

<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
     aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-cog"></i>
    <span>FunixBot</span>
  </a>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Entités</h6>
      <a class="collapse-item" href="/dashboard/funixprod/funixbot/commands">Commandes</a>
      <a class="collapse-item" href="/dashboard/funixprod/funixbot/userexp">UserExperience</a>
    </div>
  </div>
</li>
