<div class="container">

  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Mot de passe oublié</h1>
                </div>

                <div *ngIf="passwordReset.resetToken; else sendRequest">
                  <p>Veuillez entrer votre nouveau mot de passe pour pouvoir réinitialiser votre mot de passe.</p>
                  <form class="user">
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user"
                             id="inputPassword" name="password" [(ngModel)]="passwordReset.newPassword" aria-describedby="passwordHelp"
                             placeholder="Mot de passe">
                    </div>

                    <div class="form-group">
                      <input type="password" class="form-control form-control-user"
                             id="inputPasswordConfirm" name="passwordConfirm" [(ngModel)]="passwordReset.newPasswordConfirmation" aria-describedby="passwordConfirmHelp"
                             placeholder="Répétez le mot de passe">
                    </div>

                    <button (click)="resetPassword()" [disabled]="!passwordReset.newPassword || !passwordReset.newPasswordConfirmation" class="btn btn-primary btn-user btn-block">
                      Réinitialiser le mot de passe
                    </button>
                  </form>
                </div>
                <ng-template #sendRequest>
                  <p>Veuillez entrer votre email pour pouvoir réinitialiser votre mot de passe.</p>
                  <form class="user">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user"
                             id="inputEmail" name="email" [(ngModel)]="emailReset" aria-describedby="emailHelp"
                             placeholder="Addresse email">
                    </div>

                    <button (click)="sendResetPasswordRequest()" [disabled]="!emailReset || emailReset.length === 0" class="btn btn-primary btn-user btn-block">
                      Envoi de la demande
                    </button>
                  </form>
                </ng-template>

                <div class="external-auth pt-3">
                  <div class="row align-content-center">
                    <div class="google-auth col">
                      <div id="googleButtonDiv"></div>
                    </div>
                  </div>
                </div>

                <hr>
                <div class="text-center">
                  <a class="small" href="/login">Connection</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
