<a class="dropdown-item d-flex align-items-center" href="#">
  <div [ngSwitch]="alert.importance">

    <div class="mr-3" *ngSwitchCase="AlertImportance.WARNING">
      <div class="icon-circle bg-warning">
        <i class="fas fa-exclamation-triangle text-white"></i>
      </div>
    </div>

    <div class="mr-3" *ngSwitchCase="AlertImportance.URGENT">
      <div class="icon-circle bg-danger">
        <i class="fas fa-exclamation-triangle text-white"></i>
      </div>
    </div>

    <div class="mr-3" *ngSwitchDefault>
      <div class="icon-circle bg-primary">
        <i class="fas fa-file-alt text-white"></i>
      </div>
    </div>
  </div>

  <div>
    <div class="small text-gray-500">{{ alert.createdAt }}</div>
    <span class="font-weight-bold">{{ alert.message }}</span>
  </div>
</a>
