<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ticketsCollapse"
     aria-expanded="false" aria-controls="ticketsCollapse">
    <i class="fas fa-fw fa-ticket-alt"></i>
    <span>Support </span>
    <span class="badge badge-secondary">{{ ticketsAmountStaffActive.length + ticketsAmountUserActive.length }}</span>
  </a>
  <div id="ticketsCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">

      <a class="collapse-item" href="/dashboard/pacifista/tickets/new">Créer un ticket</a>
      <a class="collapse-item" href="/dashboard/pacifista/tickets">
        Vos tickets
        <span class="badge badge-danger">{{ ticketsAmountUserActive.length }}</span>
      </a>

      <div *ngIf="hasAccessToPanelWithPacifistaModo()">
        <h6 class="collapse-header">Tickets staff</h6>
        <a class="collapse-item" href="/dashboard/pacifista/tickets/all">
          Tickets
          <span class="badge badge-danger">{{ ticketsAmountStaffActive.length }}</span>
        </a>
      </div>
    </div>
  </div>
</li>
