<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ticketsCollapse"
     aria-expanded="false" aria-controls="ticketsCollapse">
    <i class="fas fa-fw fa-ticket-alt"></i>
    <span>Support </span>
    <span class="badge badge-secondary">{{ ticketsActive.length }}</span>
  </a>
  <div id="ticketsCollapse" class="collapse {{ currentRoute.includes('pacifista/tickets') ? 'show' : '' }}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">

      <div *ngIf="currentUser()?.role === UserRole.USER; else elseBlock">
        <a class="collapse-item" href="/dashboard/pacifista/tickets/create">Créer un ticket</a>
        <a class="collapse-item" href="/dashboard/pacifista/tickets/list">
          Tickets
          <span class="badge badge-danger">{{ ticketsActive.length }}</span>
        </a>
      </div>

      <ng-template #elseBlock>
        <a class="collapse-item" href="/dashboard/pacifista/tickets/list-staff">
          Tickets
          <span class="badge badge-danger">{{ ticketsActive.length }}</span>
        </a>
      </ng-template>

    </div>
  </div>
</li>
