<h1 class="h3 mb-2 text-gray-800">Twitch EventSub Configuration</h1>
<p class="mb-4">
  Sur cette page vous allez pouvoir gérer les streameurs qui seront impactés par la récéption des events twitch.<br/>
  Si vous ajoutez un streamer, il doit au préalable s'être connecté avec son compte twitch sur la FunixAPI.<br>
  Une fois le streamer ajouté dans les events twitch gérés par la FunixAPI, les websockets enverront les events twitch des chaines connectées.<br>
  Ci-dessous, vous avez la liste des events que twitch nous envoie.
</p>

<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4 class="m-0 font-weight-bold text-primary">Twitch FunixAPI EventSub</h4>

    <div>
      <button class="m-2 btn btn-danger btn-icon-split" (click)="openRemoveModal()">
        <span class="icon text-white-50">
          <i class="fas fa-trash"></i>
        </span>
        <span class="text">
          Supprimer un streamer
      </span>
      </button>

      <button class="btn btn-success btn-icon-split" (click)="openCreationModal()">
        <span class="icon text-white-50">
          <i class="fas fa-paper-plane"></i>
        </span>
        <span class="text">
          Ajouter un streamer
      </span>
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="col-md-12">
      <p>Nombre d'events écoutés: {{ twitchEventSubs.total }}</p>
      <p>Cout total: {{ twitchEventSubs.total_cost }}</p>
      <p>Cout Maximum: {{ twitchEventSubs.max_total_cost }}</p>
    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="twitchEventSubs.data" class="table table-bordered" id="dataTable">

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Statut</th>
          <td mat-cell *matCellDef="let c">{{ c.status }}</td>
          <th mat-footer-cell *matFooterCellDef>Statut</th>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let c">{{ c.type }}</td>
          <th mat-footer-cell *matFooterCellDef>Type</th>
        </ng-container>

        <ng-container matColumnDef="condition">
          <th mat-header-cell *matHeaderCellDef>Condition</th>
          <td mat-cell *matCellDef="let c">{{ prettyPrintCondition(c.condition) }}</td>
          <th mat-footer-cell *matFooterCellDef>Condition</th>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef> Date de création </th>
          <td mat-cell *matCellDef="let c">{{ c.created_at ? (c.created_at | date : 'dd/MM/YY - HH:mm') : '-'  }}</td>
          <th mat-footer-cell *matFooterCellDef> Date de création </th>
        </ng-container>

        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Cout </th>
          <td mat-cell *matCellDef="let c">{{ c.cost }}</td>
          <th mat-footer-cell *matFooterCellDef> Cout </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>
