<!-- FunixBot section -->
<li class="nav-item" *ngIf="hasAccessToPanelWithModo()">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#funixbotCollapse"
     aria-expanded="false" aria-controls="funixbotCollapse">
    <i class="fas fa-fw fa-cog"></i>
    <span>FunixBot</span>
  </a>
  <div id="funixbotCollapse" class="collapse {{ currentRoute.includes('funixgaming/funixbot') ? 'show' : '' }}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Entités</h6>
      <a class="collapse-item" href="/dashboard/funixgaming/funixbot/commands">Commandes</a>
      <a class="collapse-item" href="/dashboard/funixgaming/funixbot/automessages">Automessages</a>
      <a class="collapse-item" href="/dashboard/funixgaming/funixbot/userexp">UserExperience</a>
    </div>
  </div>
</li>
