<h1 class="h3 mb-2 text-gray-800">FunixBot chat experience</h1>
<p class="mb-4">
  Depuis cette liste vous pouvez retrouver les niveaux des utilisateurs du chat.
</p>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-primary">Chat experience du FunixBot</h4>
  </div>

  <div class="card-body">
    <div class="col-md-12">
      <p>Nombre de comptes : {{ entities.totalElementsDatabase }}</p>
    </div>

    <div class="table-responsive">
      <table mat-table [dataSource]="entities.content" class="table table-bordered" id="dataTable">

        <ng-container matColumnDef="twitchUsername">
          <th mat-header-cell *matHeaderCellDef>
            Pseudo Twitch
            <div class="input-group">
              <input #searchUsername (keyup)="onSearchChange('twitchUsername', searchUsername.value)" type="text" class="form-control bg-light border-0 small" placeholder="Recherche pseudo">
            </div>
          </th>
          <td mat-cell *matCellDef="let user">{{ user.twitchUsername }}</td>
          <th mat-footer-cell *matFooterCellDef>Pseudo Twitch</th>
        </ng-container>

        <ng-container matColumnDef="twitch-user-id">
          <th mat-header-cell *matHeaderCellDef>Twitch user ID</th>
          <td mat-cell *matCellDef="let user">{{ user.twitchUserId }}</td>
          <th mat-footer-cell *matFooterCellDef>Twitch user ID</th>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef>Niveau</th>
          <td mat-cell *matCellDef="let user">{{ user.level }}</td>
          <th mat-footer-cell *matFooterCellDef>Niveau</th>
        </ng-container>

        <ng-container matColumnDef="xp">
          <th mat-header-cell *matHeaderCellDef>Exp</th>
          <td mat-cell *matCellDef="let user">{{ user.xp }}</td>
          <th mat-footer-cell *matFooterCellDef>Exp</th>
        </ng-container>

        <ng-container matColumnDef="xp-next-level">
          <th mat-header-cell *matHeaderCellDef>Exp à avoir</th>
          <td mat-cell *matCellDef="let user">{{ user.xpNextLevel }}</td>
          <th mat-footer-cell *matFooterCellDef>Exp à avoir</th>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let user">
          </td>
          <th mat-footer-cell *matFooterCellDef>Actions</th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
      </table>

      <mat-paginator [length]="entities.totalElementsDatabase"
                     (page)="onPaginateChange($event.pageIndex)"
                     [pageIndex]="page"
                     [pageSize]="elemsPerPage"
                     [hidePageSize]="true"
                     aria-label="Pages"
                     showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
