<div class="card">
  <div class="card-header">
    <h3 mat-dialog-title class="text-primary">Supprimer l'article {{ article.name }} ?</h3>
  </div>

  <div mat-dialog-content class="card-body">
    <p>
      Voulez-vous vraiment supprimer l'article {{ article.name }} ?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary btn-icon-split" (click)="onNoClick()">
    <span class="icon text-white-50">
      <i class="fas fa-arrow-right"></i>
    </span>
      <span class="text">
      Annuler
    </span>
    </button>

    <button class="btn btn-danger btn-icon-split" (click)="onYesClick()">
    <span class="icon text-white-50">
      <i class="fas fa-trash"></i>
    </span>
      <span class="text">
      Supprimer
    </span>
    </button>
  </div>
</div>
