<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4 class="m-0 font-weight-bold text-primary">Tickets en cours</h4>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table mat-table [dataSource]="entities.content" class="table table-bordered" id="dataTable">

        <ng-container matColumnDef="object">
          <th mat-header-cell *matHeaderCellDef>
            Objet
            <div class="input-group">
              <input #objectSearch (keyup)="onSearchChange('object', objectSearch.value)" type="text" class="form-control bg-light border-0 small" placeholder="Recherche objet">
            </div>
          </th>
          <td mat-cell *matCellDef="let c">{{ c.object }}</td>
          <th mat-footer-cell *matFooterCellDef>Objet</th>
        </ng-container>

        <ng-container matColumnDef="createdByName">
          <th mat-header-cell *matHeaderCellDef> Créé par
            <div class="input-group">
              <input #objectSearch (keyup)="onSearchChange('createdByName', objectSearch.value)" type="text" class="form-control bg-light border-0 small" placeholder="Recherche utilisateur">
            </div>
          </th>
          <td mat-cell *matCellDef="let c">{{ c.createdByName }}</td>
          <th mat-footer-cell *matFooterCellDef> Crée par </th>
        </ng-container>

        <ng-container matColumnDef="ticketType">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let c">{{ c.type }}</td>
          <th mat-footer-cell *matFooterCellDef> Type </th>
        </ng-container>

        <ng-container matColumnDef="creationSource">
          <th mat-header-cell *matHeaderCellDef> Source </th>
          <td mat-cell *matCellDef="let c">{{ c.creationSource }}</td>
          <th mat-footer-cell *matFooterCellDef> Source </th>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Statut </th>
          <td mat-cell *matCellDef="let c">{{ c.status }}</td>
          <th mat-footer-cell *matFooterCellDef> Statut </th>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Date de création </th>
          <td mat-cell *matCellDef="let c">{{ c.createdAt ? (c.createdAt | date : 'dd/MM/YY - HH:mm') : '-'  }}</td>
          <th mat-footer-cell *matFooterCellDef> Date de création </th>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef> Date de mise à jour </th>
          <td mat-cell *matCellDef="let c">{{ c.updatedAt ? (c.updatedAt | date : 'dd/MM/YY - HH:mm') : '-'  }}</td>
          <th mat-footer-cell *matFooterCellDef> Date de mise à jour </th>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let c">
            <div class="container-fluid">
              <a href="/dashboard/pacifista/tickets/messages/{{ c.id }}" class="btn btn-info btn-circle btn-sm">
                <i class="fas fa-pen"></i>
              </a>
            </div>
          </td>
          <th mat-footer-cell *matFooterCellDef> Actions </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
      </table>

      <mat-paginator [length]="entities.totalElementsDatabase"
                     (page)="onPaginateChange($event)"
                     [pageIndex]="page"
                     [pageSize]="elemsPerPage"
                     [hidePageSize]="true"
                     aria-label="Pages"
                     showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>
