<h1 class="h3 mb-2 text-gray-800">Utilisateurs</h1>
<p class="mb-4">
    Depuis cette liste vous pouvez gérer les différents comptes qui existent pour la FunixProduction.<br/>
    Que ce soit pour Pacifista ou les autres projets.
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Utilisateurs de la FunixProduction</h4>
    </div>

    <div class="card-body">
        <div class="col-md-12">
            <p>Nombre de comptes : {{ entities.totalElementsDatabase }}</p>
        </div>

        <div class="table-responsive">
            <table mat-table [dataSource]="entities.content" class="table table-bordered" id="dataTable">

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef>
                        Username
                        <div class="input-group">
                            <input #searchUser (keyup)="onSearchChange('username', searchUser.value)" type="text" class="form-control bg-light border-0 small" placeholder="Recherche username">
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let user">{{ user.username }}</td>
                    <th mat-footer-cell *matFooterCellDef>Username</th>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>
                        Email
                        <div class="input-group">
                            <input #searchEmail (keyup)="onSearchChange('email', searchEmail.value)" type="text" class="form-control bg-light border-0 small" placeholder="Recherche email">
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
                    <th mat-footer-cell *matFooterCellDef>Email</th>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef>
                        Role
                        <div class="custom-control custom-checkbox small">
                            <input #checkStaff (click)="switchRoleList(checkStaff.checked)" type="checkbox" class="custom-control-input" id="checkStaff">
                            <label class="custom-control-label" for="checkStaff">Uniquement le staff</label>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let user">{{ user.role }}</td>
                    <th mat-footer-cell *matFooterCellDef>Role</th>
                </ng-container>

                <ng-container matColumnDef="valid">
                    <th mat-header-cell *matHeaderCellDef>
                        Validé<br/>
                        <select class="form-control" [(ngModel)]="valid" (ngModelChange)="switchValidList()">
                            <option [ngValue]="''">Tous</option>
                            <option [ngValue]="'true'">Oui</option>
                            <option [ngValue]="'false'">Non</option>
                        </select>
                    </th>
                    <td mat-cell *matCellDef="let user">{{ user.valid ? 'Oui' : 'Non' }}</td>
                    <th mat-footer-cell *matFooterCellDef>Validé</th>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef> Date de création </th>
                    <td mat-cell *matCellDef="let user">{{ user.createdAt ? (user.createdAt | date : 'dd/MM/YY - HH:mm') : '-'  }}</td>
                    <th mat-footer-cell *matFooterCellDef> Date de création </th>
                </ng-container>

                <ng-container matColumnDef="updatedAt">
                    <th mat-header-cell *matHeaderCellDef> Date de mise à jour </th>
                    <td mat-cell *matCellDef="let user">{{ user.updatedAt ? (user.updatedAt | date : 'dd/MM/YY - HH:mm') : '-'  }}</td>
                    <th mat-footer-cell *matFooterCellDef> Date de mise à jour </th>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let user">
                        <div class="container-fluid">
                            <a href="{{ getEditUrl(user) }}" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-pen"></i>
                            </a>

                            <button (click)="openRemoveDialog(user)" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </td>
                    <th mat-footer-cell *matFooterCellDef> Actions </th>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
            </table>

            <mat-paginator [length]="entities.totalElementsDatabase"
                           (page)="onPaginateChange($event.pageIndex)"
                           [pageIndex]="page"
                           [pageSize]="elemsPerPage"
                           [hidePageSize]="true"
                           aria-label="Pages"
                           showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>
